<%= stylesheet_link_tag 'stat_tables', :cache => true %>

<%= render :partial => 'team_header' %>

<%= link_to '(Edit)', edit_team_path(@team) %> <%= link_to '(Delete)', team_path, :method=>:delete %>

<table>
	<tr><%= render_avg_headers %></tr>
	<%= render :partial => 'avg_summary', :object => @team.avg_stats, :locals=>{:pts=>@team.avg_points} %>
	<tr>
		<td></td>
	</tr>
</table>

<table>
	<tr><%= render_stat_headers %></tr>
	<%= render :partial => 'stat_rows' %>
	<%= render :partial => 'game_summary', :object=>@team.total_stats, :locals=>{:win_str=> 'Total', :score_str=> ''} %>
</table>

<ul id = "team list">
<% @team.players.each do | player | %>
  <li> <%= link_to player.name, player %></li>
<% end %>
</ul>

<%= link_to 'Home', root_url %>