<% form_for @game do |f| %>
	
	<p>
		<%= f.label :team1_id, 'Home Team:' %>
		<%= f.collection_select :team1_id, Team.all, :id, :name %>
	</p>
	<p>
		<%= f.label :team2_id, 'Away Team:' %>
		<%= f.collection_select :team2_id, Team.all, :id, :name %>
	</p>
	<p><%= f.submit 'Create Game' %></p>
<% end %>

<p><%= link_to 'Cancel', '/home' %></p>