<%= javascript_include_tag 'clock.js', 'game.js' %>
<%= stylesheet_link_tag 'game.css', :cache => true %>

<input id='clock1' value='0' size='4' style='font-size: 42pt; width: 170px' />

<button style='font-size: 22pt' id='start' onclick='start();'>Start / Stop</button>
<button style='font-size: 22pt' id='start' onclick='reset();'>Reset</button>

<div id = "score">
	<h1>Home Score: <%= @game.home_score %>   |   Away Score: <%= @game.away_score %></h1>
</div>
<div id = "active_players">
	<table> <!-- outside table -->
		<tr>
			<td>
				<table> <!-- team 1 table -->
       		<tr>
						<td>
							<div id="home_players"> <!-- home_players -->
       			    <%= render :partial => 'players/active_player', :collection => @game.active_home_players, :locals => { :my_game => @game } %>
							</div> <!-- home_players -->
						</td>
					</tr>
        </table> <!-- team 1 table -->
      </td>
      <td>
				<table> <!-- team 2 table -->
					<tr>
						<td>
       				<div id="away_players"> <!-- away_players -->
								<%= render :partial => 'players/active_player', :collection => @game.active_away_players, :locals => { :my_game => @game } %>
							</div> <!-- away_players -->
						</td>
					</tr>
        </table> <!-- team 2 table -->
      </td>
 		</tr>
  </table> <!-- outside table -->
</div> <!-- active_players -->

<div id="inactive_players"> <!-- Inactive Players -->
	<table> 									<!-- inactive players table -->
		<tr>
			<td>									<!-- start inactive home players -->
				<table>
					<tr>
						<td>
							<div id="inactive_home_players">
								<%= render :partial => 'players/inactive_player', :collection => @game.inactive_home_players, :locals => { :my_game => @game } %>
							</div>
						</td>
					</tr>
				</table>
			</td>								<!-- end of inactive home players -->
			<td>									<!-- start inactive away players -->
				<table>
					<tr>
						<td>
							<div id="inactive_away_players">
								<%= render :partial => 'players/inactive_player', :collection => @game.inactive_away_players, :locals => { :my_game => @game } %>
							</div>
						</td>
					</tr>
				</table>
			</td>								<!-- end of inactive away players -->
		</tr>	
	</table>								<!-- inactive players table -->
</div>										<!-- inactive players -->

<ul rows="10"> <!-- GAME LOG -->
	<div id="game_log" style="position absolute; height:100px; width: 500px; max-height: 100px; overflow: auto; border: 1px solid black">
		<% if (@game.log_events.length == 0 )%>
			<li>No Action Yet!! <li>
		<% else %>
			<%= render :partial => 'log_events/log_event', :collection => @game.log_events %>
		<% end %>
	</div>
</ul>

<% form_for @game, :method=>:put do |g| %>
	<%= g.hidden_field :time %>
	<%= g.submit "Submit Game", :onclick=>"$('game_time').value=player1.seconds" %>
<% end %>
