<% stat = Stat.find(active_player.stat_id) %>
<% active_player.table_loc = my_game.table_counter %>
<% active_player.save %>
<% my_game.table_counter += 1 %>
<% my_game.save %>
<% actions=%w(free_throws free_throw_misses two_points two_point_misses three_points three_point_misses assists o_bounds d_bounds steals blocks turn_overs personal_fouls) %>
<% labels=%w(1PT 1PTM 2PT 2PTM 3PT 3PTM AST OB DB STL BLCK TO PF) %>

<div id = <%= active_player.table_loc.to_s %> >
<table> <!-- player table -->
	  <tr>
	    <td style='width: 75px'><%= Player.find(stat.player_id).name %></td>
			<% actions.zip(labels).each do |action, action_label | %>
    	  <td>
						<span id="free_throw_form">
				      <% form_remote_tag :url=> "/#{action}/create", :html=>{:class=>'wazza', :onsubmit=>'if(!on) {return false}'} do %>
								<input type="hidden" name=<%= "what#{form_index}" %> value="dog">
								<input type="hidden" name="stat_id" value=<%=stat.id %> >
								<input type="hidden" name="game_id" value=<%=@game.id %> >
							  <%= submit_tag action_label, :name=>"#{get_form_index}" %>
					    <% end %>
						</span>
				</td>
			<% end %>
			<td>
				<%= link_to_remote "Deactivate", :url => [@game, active_player], :method => :delete %>
			</td>
	  </tr>

	</table> <!-- player table -->
</div> <!-- table_loc -->