<% stat = Stat.find(active_player.stat_id) %>
<% active_player.table_loc = my_game.table_counter %>
<% active_player.save %>
<% my_game.table_counter += 1 %>
<% my_game.save %>

<div id = <%= active_player.table_loc.to_s %> >
<table> <!-- player table -->
	  <tr>
	    <td><%= Player.find(stat.player_id).name%></td>
      <td>
					<span id="free_throw_form">
			      <% form_remote_tag :url=> stat_free_throws_path({ :stat_id => stat, :game_id => @game}) do %>
						  <%= submit_tag '1PT' %>
				    <% end %>
					</span>
			</td>
			
			<td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_free_throw_misses_path({ :stat_id => stat, :game_id => @game}) do %>
            <%= submit_tag '1PTM' %>
          <% end %>
        </span>
			</td>
    	<td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_two_points_path({ :stat_id => stat, :game_id => @game}) do %>
            <%= submit_tag '2PT' %>
          <% end %>
        </span>
			</td>
    	<td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_two_point_misses_path({ :stat_id => stat, :game_id => @game}) do %>
            <%= submit_tag '2PTM' %>
          <% end %>
        </span>
		  </td>
    	<td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_three_points_path({ :stat_id => stat, :game_id => @game}) do %>
            <%= submit_tag '3PT' %>
          <% end %>
        </span>
		  </td>
   		<td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_three_point_misses_path({ :stat_id => stat, :game_id => @game}) do %>
            <%= submit_tag '3PTM' %>
          <% end %>
        </span>
			</td>
	  </tr>
	  
	  <tr>
	     <td></td>
			 <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_assists_path({ :stat_id => stat, :game_id => @game}) do %>
            <%= submit_tag 'Ast' %>
          <% end %>
        </span>
			</td>
	    <td>
	        <span id="free_throw_form">
	          <% form_remote_tag :url=> stat_o_bounds_path({ :stat_id => stat, :game_id => @game}) do %>
	            <%= submit_tag 'ORB' %>
	          <% end %>
	        </span>
			</td>
	    <td>
	        <span id="free_throw_form">
	          <% form_remote_tag :url=> stat_d_bounds_path({ :stat_id => stat, :game_id => @game}) do %>
	            <%= submit_tag 'DRB' %>
	          <% end %>
	        </span>
			</td>
	    <td>
	        <span id="free_throw_form">
	          <% form_remote_tag :url=> stat_steals_path({ :stat_id => stat, :game_id => @game}) do %>
	            <%= submit_tag 'STL' %>
	          <% end %>
	        </span>
			</td>
	    <td>
	        <span id="free_throw_form">
	          <% form_remote_tag :url=> stat_blocks_path({ :stat_id => stat, :game_id => @game}) do %>
	            <%= submit_tag 'BLK' %>
	          <% end %>
	        </span>
			</td>
	    <td>
	        <span id="free_throw_form">
	          <% form_remote_tag :url=> stat_personal_fouls_path({ :stat_id => stat, :game_id => @game}) do %>
	            <%= submit_tag 'PF' %>
	          <% end %>
	        </span>
			</td>
			<td>
					<span id="free_throw_form">
						<%= link_to_remote "Deactivate", :url => [@game, active_player], :method => :delete %>
					</span>
			</td>
	  </tr>

	</table> <!-- player table -->
	</div> <!-- table_loc -->