<table>
  <tr>
    <td>
		    <span id="free_throw_form">
          <% form_remote_tag :url=> stat_free_throws_path(@stat) do %>
            <%= submit_tag '1PT' %><% end %>
        </span>
    </td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_free_throw_misses_path(@stat) do %>
            <%= submit_tag '1PTM' %>
          <% end %>
        </span>
		</td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_two_points_path(@stat) do %>
            <%= submit_tag '2PT' %>
          <% end %>
        </span>
		</td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_two_point_misses_path(@stat) do %>
            <%= submit_tag '2PTM' %>
          <% end %>
        </span>
		</td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_three_points_path(@stat) do %>
            <%= submit_tag '3PT' %>
          <% end %>
        </span>
		</td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_three_point_misses_path(@stat) do %>
            <%= submit_tag '3PTM' %>
          <% end %>
        </span>
		</td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_assists_path(@stat) do %>
            <%= submit_tag 'Ast' %>
          <% end %>
        </span>
		</td>
  </tr>
  <tr>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_o_bounds_path(@stat) do %>
            <%= submit_tag 'ORB' %>
          <% end %>
        </span>
		</td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_d_bounds_path(@stat) do %>
            <%= submit_tag 'DRB' %>
          <% end %>
        </span>
		</td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_steals_path(@stat) do %>
            <%= submit_tag 'STL' %>
          <% end %>
        </span>
		</td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_blocks_path(@stat) do %>
            <%= submit_tag 'BLK' %>
          <% end %>
        </span>
		</td>
    <td>
        <span id="free_throw_form">
          <% form_remote_tag :url=> stat_personal_fouls_path(@stat) do %>
            <%= submit_tag 'PF' %>
          <% end %>
        </span>
		</td>
  </tr>
</table>

<h2>
  <span id="free_throw_count">
    Free Throws: <%= @stat.free_throws.size %>
  </span>
</h2>
<br>
<h2>
  <span id="free_throw_misses_count">
    Missed Free Throws: <%= @stat.free_throw_misses.size %>
  </span>
</h2>
<br>
<h2>
  <span id="two_point_count">
    Two Pointers: <%= @stat.two_points.size %>
  </span>
</h2>
<br>
<h2>
  <span id="two_point_misses_count">
    Missed Free Throws: <%= @stat.two_point_misses.size %>
  </span>
</h2>
<br>
<h2>
  <span id="three_point_count">
    Three Pointers: <%= @stat.three_points.size %>
  </span>
</h2>
<br>
<h2>
  <span id="three_point_misses_count">
    Missed Three Pointers: <%= @stat.three_point_misses.size %>
  </span>
</h2>
<br>
<h2>
  <span id="assists_count">
    Assists: <%= @stat.assists.size %>
  </span>
</h2>
<br>
<h2>
  <span id="o_bounds_count">
    Offensive Rebounds: <%= @stat.o_bounds.size %>
  </span>
</h2>
<br>
<h2>
  <span id="d_bounds_count">
    Defensive Rebounds: <%= @stat.d_bounds.size %>
  </span>
</h2>
<br>
<h2>
  <span id="steals_count">
    Steals: <%= @stat.steals.size %>
  </span>
</h2>
<br>
<h2>
  <span id="blocks_count">
    Blocks: <%= @stat.blocks.size %>
  </span>
</h2>
<br>
<h2>
  <span id="personal_fouls_count">
    Personal Fouls: <%= @stat.personal_fouls.size %>
  </span>
</h2>

